{% extends "game/layout.html" %}
{% load static %}

{% block body %}
<header class="page header p-5 text-white gradient">
    <div class="container py-5">
        <div class="row">
            <h1 class="h1 text-center">Welcome! Chesser</h1>
        </div>
        <div class="mx-auto d-flex gap-2 justify-content-center">
            <a href="{% url 'play' %}">
                <button class="btn btn-primary btn-lg">Play Now</button>
            </a>
            <a>
                <button class="btn btn-primary btn-lg">Explore Games</button>
            </a>
        </div>
        <!-- <div id="myBoard" style="width: 400px"></div> -->
    </div>
</header>
{% endblock %}