/* Configuration for bootstrap */
:root {
    --bs-primary: #59C1BD;
}



.dot::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

img {
    z-index: 10;
}

.highlight {
    /* border: 1px solid yellow; */
    /* box-shadow: 0 0 10px rgb(93, 117, 255); */
    /* border: 2px solid rgb(101, 101, 255); */
    /* Todo */
}

.gradient {
    background: rgb(35, 25, 208);
    background: linear-gradient(323deg, rgba(35, 25, 208, 1) 0%, rgba(46, 46, 196, 1) 35%, rgba(0, 212, 255, 1) 100%);
}